rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /adminUsers/{adminUserId} {
      allow read, write: if true;
    }

    match /clears/{clearId} {
      allow read, write: if true;
    }

    match /giftTypes/{giftTypeId} {
      allow read, write: if true;
    }

    match /gifts/{giftId} {
      allow read, write: if true;
    }

    match /missions/{missionId} {
      allow read, write: if true;
    }

    match /quizzes/{quizId} {
      allow read, write: if true;
    }
  }
}
